{% extends 'base.html.twig' %}


{% block title %}Catégories
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Toutes les catégories du site :
		</h1>
		<div class="row row-cols-5">
			{% for category in categories %}
				<div class="col">
					<h2>{{ loop.index }}
						/
						{{ category.name }}</h2>
					<a href="{{ path('category_show', { categoryName: category.name }) }}" class="btn btn-primary btn-sm">Voir les series</a>
					<p></p>
				</div>
			{% else %}
				Aucune catégorie trouvée.
			{% endfor %}
		</div>
		<div class="return">
			<a href="{{ path('app_index') }}" class="btn btn-primary btn-sm">
				Retour à l'Accueil
			</a>
		</div>
	</div>
{% endblock %}
