{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Bienvenue!</h1>
		<img src="{{ asset('build/images/test.jpg') }}" alt=""/>
	</div>
{% endblock %}
